API_KEY=runzyt2026rowr
SUPABASE_URL=https://glfhvhmvpoqrpkzlocyx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdsZmh2aG12cG9xcnBremxvY3l4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5OTk2OTIsImV4cCI6MjA5ODU3NTY5Mn0.gA5g7mFj0pLRHUQGA77MJ4hXHtMeK8AodEq-VWA5LbM
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1316433223181537442/4wYfO-IhGRtGgFIyhIfRVks_ZCQmLP_d_EZ3aClz5v0UHU6h_abYwlei_SyO_5uH6y0s
